@import "syntaxhighlighter.css";
@import "droidsans.css";
@import "oswald.css";
/*@import "calibri.css";*/

body {
    font-family: "Calibri", sans-serif;
    background-color: #fff;
    color: #3f3f3f;
}

.brand {
    text-decoration: none;
    color: #ddd;
    font-size: 2.2em;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    letter-spacing: -0.05em;
    /*font-weight: bold;*/
    /*text-shadow: 1px 1px 1px rgb(78, 78, 78);*/
    margin-left: 0.5em;
    float: left;
}

.brandin {
    color: #ddd;
    font-family: monospace;
    font-size: 0.73em;
}

.navbar {
    background-color: #3a3a3a;
    /* position: fixed; for screen>750px, postion: absolute; for screen <750px */
    top: 0px;
    right: 0px;
    opacity: 0.73;
    width: 100%;
    padding: 0.3em;
}

.nav {
    display: inline;
    float: right;
    margin: 1em 10px 0px 0px;
    position: relative;
    right: 0px;
}

.nav_link {
    text-decoration: none;
    color: #ddd;
    font-size: 1.25em;
    padding: 0.4em;
    /*font-weight: bold;*/
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

.social {
    text-align: center;
    font-weight: 900;
    color: #fff;
    padding: 20px 0 0;
}

.social a {
    font-size: 10px;
    padding: 0 12px;
}

.content-main {
    /*margin-top: 45px;*/
    /*margin-left: 21%;*/
    /*margin-right: 21%;*/
    /*line-height: 1.25em;*/
    padding: 3%;
    font-size: 1.1em;
}

code {
    /*font-weight: bold;*/
    font-size: 1.2em;
}

/*pre > code {
  background-color: AliceBlue;
  color: Blue;
}*/

.content-main img {
    max-width: 100%
}

.tag_box li, .pagination li,  .inline {
    display: inline-block;
    /*text-transform: capitalize;*/
    padding: 7px;
}

.tag_box span {
    background-color: #333;
    display: inline-block;
    border-radius: 10px;
    color:white;
    font-weight: bold;
    font-size: 10px;
    padding: 1px 5px;
}

h1,h2,h3,h4 {
    font-family: Calibri, sans;
    line-height: 1em;
}

h1 { font-size: 2.8em; padding-bottom: 0.3em; }
h2 { font-size: 1.8em; }

ul { list-style: square outside none; }
.content ul, .content ol { padding: 0px; }
.content li { padding-bottom: 4px; }

.content-main a:link {
    color: rgb(54, 97, 161);
    text-decoration: none;
}

.content-main a:visited {
    color: rgb(84, 127, 191);
    text-decoration: none;
}

.content-main a:hover {text-decoration: underline;}

pre {
    color: rgb(242, 242, 242);
    background-color:#3a3a3a;
    border: 1px solid #3a3a3a;
    font-family: monospace;
    margin-left: 0px;
    margin-right: 0px;
    padding: 1.625em;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset, 0px 1px 0px rgba(255, 255, 255, 0.6);
    white-space: pre-wrap;
    word-wrap: break-word;
}

.prev, .next, .archive {
    background-color: #1F3A70;
    border-radius: 5px;
}

.disabled, .disabled:hover {
    background-color: #4C5567;
    border-radius: 5px;
    color: #bbb;
 }

.prev:hover, .next:hover, .archive:hover {
    background-color:#354E7E;
}


.pagination a:link, .pagination a:visited, .pagination a:hover {color:#fff; text-decoration: none; }

.the-footer {
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
    background-color: #3a3a3a;
    color: #ddd;
    border-radius: 20px;
}

/*.the-footer a, #about-me a {color: #b6d9fb; text-decoration:none; border-bottom: 1px dashed #b6d9fb; }*/
/*.the-footer a:hover, #about-me a:hover {border-bottom: 1px solid #b6d9fb; }*/
.the-footer a, #about-me a {color: #b6d9fb; text-decoration:none; border-bottom: 1px; }
.the-footer a:hover, #about-me a:hover {border-bottom: 1px; }

#about-me h2, .the-footer h2 {margin-top: 8px;}

.unit-foot {
    padding: 25px;
}

@media only screen and (min-width: 1000px) {
    .content-main {
        margin-left:auto;
        margin-right:auto;
        margin-top: 40px;
        width:800px;
    }
    .navbar { position: fixed; }
    .the-footer { width: 800px;}
}

@media only screen and (max-width: 1000px) {
    .content-main {
        margin-top: 60px;
        width:95%;
    }
    .navbar { position: absolute; }
    .the-footer { width: 95%;}
}

@media only screen and (max-width: 450px) {
   .content-main h1,h2,h3,h4 { line-height:1.4; }
}

